<ion-view view-title="Description">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">bar-balanced</h1>
  </div>
  <ion-content>
    <h3 class="recipeTitle">Habesha Food</h3>
    <div class="side-space bottom">
      <p>

        People from Ethiopia and Eritrea are called Habesha. Habeshas typical meal consists of injera and several kinds of wot (stew).
        This cuisine consists of vegetable and often very spicy meat dishes. This is usually in the form of wot (sauce) served
        on top of injera, a large sourdough flatbread, which is about 50 centimeters (20 inches) in diameter and made out
        of fermented teff flour. Habesha people eat with their hands, using pieces of injera to pick up bites of entrées
        and side dishes. </p>
      <p>Some terms explained:</p>
      <p>
        <span class="bold">Berbere</span> is a spice mixture whose constituent elements usually include chili peppers, garlic, ginger, basil,
        black pepper (korarima), rue, Carom seeds , Fennel flower (coriander seeds), and fenugreek. It is a key ingredient
        in the cuisine. You can find this item from your local Ethiopian grocery store.</p>
      <p>
        <span class="bold">Mitmita</span> is another powdered spicy food. It is more spicy than berbere and usually served as a side dish. You
        can find this item from your local Ethiopian grocery store.</p>
      <p>
        <span class="bold">Shiro powder</span> is made from peas and chickpeas that are dried and ground into a fine powder, shiro powder. The
        flavor is rich, spiced and nutty, and this powder comes blended with different spices and herbs – fenugreek, cardamom,
        and dried basil to name a few – as well as dried garlic.
      </p>
      <p>
        <span class="bold">Besso powder</span> is a roasted barley that is ground into fine powder.</p>
      <p>
        <span class="bold">Tej</span> a honey wine that is brewed and consumed mostly in Ethiopia and Eritrea. It is flavored with the powdered
        leaves and twigs of gesho (Rhamnus prinoides).</p>
    </div>
  </ion-content>
</ion-view>