<ion-view view-title="Recipes">
  <ion-nav-buttons side="right">
    <div id="filter" ng-controller="FilterCtrl">
      <button class="button ion-funnel button-clear" ng-click="openPopover($event)" ion-button small>
        Filter
      </button>
    </div>
  </ion-nav-buttons>
  <ion-content>
  <!--  <div ng-controller="RecipesCtrl"> -->
      <ul class="list">
        <li ng-repeat="recipe in recipeList">
          <a href="#/app/recipe/?id={{recipe.id}}" class="item item-thumbnail-left">
            <img ng-src="{{recipe.imageUrl}}" alt="" />
            <h2>{{recipe.name}}</h2>
            <p>{{recipe.dietType}}</p>
          </a>
        </li>
      </ul>
    </div>
  </ion-content>
  <script id="templates/popover.html" type="text/ng-template" >  
      
    <ion-popover-view style="left: 145px;">  
       <ion-header-bar>
          <h3 class = "title">Diet Type</h3>
       </ion-header-bar>     
       <ion-content> 
          <ul class = "list">
          <li  class = "item item-checkbox dietList" ng-repeat="diet in dietType">            
              {{diet}}<label class = "checkbox">
                  <input class="dietCkb" type = "checkbox" />
               </label>
            </a>
          </li>
         </ul>
          
       </ion-content>    
    </ion-popover-view>
 </script>
</ion-view>